body{
    margin: 0;
    font-family: cursive;
}

.top-container{
    background-image:url(https://media.istockphoto.com/id/1153031889/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%BF%D1%80%D0%BE%D0%B3%D0%BB%D1%8F%D0%B4%D0%B5%D1%82%D1%8C.jpg?s=2048x2048&w=is&k=20&c=uR5gcNbbwP1PK60TY3Ig0SAiKRDggpMyXGXm7DXJMYE=);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container h1{
    color: white;
    font-size: 50px;
}

.text{
    margin: 50px 5%;
}

.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 10px 50px 10px 10px;
    color: rgb(216, 88, 152);
}

.navbar ul li a:hover{
    color: lightgreen;
}

.navbar.active{
    background-color: rgb(25,25,25);
}


















